node_modules
dist
types
tailwind.config.base.js
.github
**/packages/**/tailwind.config.base.js
**/packages/**/tailwind.config.js
**/types
**/.next/*
**/.yalc/*
.next/**
.yalc/**
.changeset
storybook-static
